body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

nav {
    height: 60px;
    width: 80%;
    margin-left: 10%;
    border-radius: 12px;
}

.logo {
    width: 30px;
    margin-right: 20px;
    border-radius: 100px;
}

.img-fluid {
    border-radius: 12px;
}

h2 {
    font-weight: bold;
    margin: 5% 0 3% 0;
}

h3 {
    font-weight: bold;
    margin: 6% 0 0 0 !important;
}

h4 {
    font-weight: bold;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    color: rgb(43, 117, 167);
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #dce6e9;
}

tr:hover {
    background-color: #ddd;
}

#searchBar {
    border-radius: 24px;
}

.btn-primary {
    background-color: rgb(43, 117, 167) !important;
}